*.pyc
/dist/
/*.egg-info
/build/
*.ipynb_checkpoints*
/notebooks/img/old/
*.pptx
*.py
*.xml
*.exe
*.tmpl
datasets/.DS_Store
siml/wavemind/bin/activate
siml/wavemind/bin/activate.csh
siml/wavemind/bin/activate.fish
siml/wavemind/bin/Activate.ps1
siml/wavemind/bin/easy_install
siml/wavemind/bin/easy_install-3.8
siml/wavemind/bin/pip
siml/wavemind/bin/pip3
siml/wavemind/bin/pip3.8
siml/wavemind/bin/python
siml/wavemind/bin/python3
siml/wavemind/lib/python3.8/site-packages/pip-20.2.4.dist-info/entry_points.txt
siml/wavemind/lib/python3.8/site-packages/pip-20.2.4.dist-info/INSTALLER
siml/wavemind/lib/python3.8/site-packages/pip-20.2.4.dist-info/LICENSE.txt
siml/wavemind/lib/python3.8/site-packages/pip-20.2.4.dist-info/METADATA
siml/wavemind/lib/python3.8/site-packages/pip-20.2.4.dist-info/RECORD
siml/wavemind/lib/python3.8/site-packages/pip-20.2.4.dist-info/top_level.txt
siml/wavemind/lib/python3.8/site-packages/pip-20.2.4.dist-info/WHEEL
siml/wavemind/lib/python3.8/site-packages/pip/_vendor/certifi/cacert.pem
siml/wavemind/lib/python3.8/site-packages/pip/_vendor/distlib/_backport/sysconfig.cfg
siml/wavemind/lib/python3.8/site-packages/pip/_vendor/vendor.txt
siml/wavemind/lib/python3.8/site-packages/setuptools-47.1.0.dist-info/dependency_links.txt
siml/wavemind/lib/python3.8/site-packages/setuptools-47.1.0.dist-info/entry_points.txt
siml/wavemind/lib/python3.8/site-packages/setuptools-47.1.0.dist-info/INSTALLER
siml/wavemind/lib/python3.8/site-packages/setuptools-47.1.0.dist-info/LICENSE
siml/wavemind/lib/python3.8/site-packages/setuptools-47.1.0.dist-info/METADATA
siml/wavemind/lib/python3.8/site-packages/setuptools-47.1.0.dist-info/RECORD
siml/wavemind/lib/python3.8/site-packages/setuptools-47.1.0.dist-info/top_level.txt
siml/wavemind/lib/python3.8/site-packages/setuptools-47.1.0.dist-info/WHEEL
siml/wavemind/lib/python3.8/site-packages/setuptools-47.1.0.dist-info/zip-safe
siml/wavemind/pyvenv.cfg
siml/wavemind/requirements.txt
siml/wavemind/wavemind.wpr
siml/wavemind/wavemind.wpu
.DS_Store
*.flac
